:root {
  --primary-color: rgba(194, 113, 255, 1);
  --secondary-color: #333333;
  --text-color: #ffffff;
  --blue-color: rgba(7, 22, 41, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  padding: 20px 5%;
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 30px;
  max-width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav ul li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1rem;
}

.first-section {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center;
  padding: 100px 5% 50px;
  margin-top: -80px;
}

.first-section .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.first-section .container .list-wrapper {
    display: flex;
    margin-bottom: 20px;
}
.first-section .container .list-wrapper ul {
    list-style: none;
    margin: 0 10px;
}
.first-section .container .list-wrapper ul li {
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: bold;
    padding-right: 25px;
    padding-left: 25px;
}

.first-section .container h1 {
  font-size: 3rem;
  color: white;
}

.first-section .container button {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.first-section .container button:hover {
  background-color: var(--blue-color);
}

.first-section .teachers {
  padding: 100px 5%;
  text-align: center;
}

.first-section .teachers h2 {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: lighter;
  line-height: auto;

}

.first-section .teachers h2 span {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  line-height: auto;
}

.first-section .teachers .teachers-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.first-section .teachers .teachers-details div {
  width: 150px;
  height: 237px;
  margin: 20px;
}

.first-section .teachers .teachers-details div img {
  width: 100%;
  border-radius: 75px;
}
.first-section .teachers .teachers-details div h3{
    padding-top: 10px;
font-weight: bold;
font-size: 1.2rem;
line-height: 27px;
font-family: 'Source Sans Pro', sans-serif;
color: var(--text-color);
}
.first-section .teachers .teachers-details div p{
    font-size: 0.9rem;
    line-height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--text-color);
    font-style: italic;
}
.second-section {
  background-color: var(--primary-color);
  padding: 100px 5%;
}

.second-section .content {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.second-section .content img {
  border-radius: 50%;
  max-width: 100%;
}

.second-section .content .article {
  color: var(--text-color);
  text-align: start;
}

.second-section .content .article blockquote {
  line-height: 1.5;
  font-size: 1.2rem;
}

.second-section .content .article h3 {
  font-size: 1.5rem;
}

.second-section .content .article p {
  font-size: 1rem;
  font-style: italic;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 5%;
}

.third-section h2 {
  font-size: 2rem;
  color: rgba(7, 22, 41, 1);
  font-weight: lighter;
  text-align: center;
  padding-bottom: 15%;
  padding-top: 5%;
}

.third-section h2 span {
  color: var(--primary-color);
  font-weight: bold;
}

.third-section .tutorials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.third-section .tutorials .item {
  max-width: 300px;
  padding-right:1%;
}
.third-section .tutorials .item .padding{
    padding-left: 2%;
}
.third-section .tutorials .item img {
  width: 100%;
  border-radius: 10px;
}

.third-section .tutorials .item h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 0;
}

.third-section .tutorials .padding p {
  font-size: 0.9rem;
  color: rgba(7, 22, 41, 0.6);
  padding-bottom: 15px;
}

.third-section .tutorials .review {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third-section .tutorials .review img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.third-section .tutorials .review .person {
  display: flex;
  align-items: center;
  gap: 10px;
}

.third-section .tutorials .review .person h4 {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--primary-color);
}
.third-section .tutorials .review .starandtime{
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}
.third-section .tutorials .review .starandtime .stars{
    display: flex;
}
.third-section .tutorials .review .starandtime .stars div {
 margin-right: 10px;
}
.third-section .tutorials .review .starandtime p{
    color: var(--primary-color);
}
.third-section .tutorials .review .starandtime .stars .empty{
    color: rgba(216, 216, 216, 1);
}
.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 5%;
  background-color: var(--blue-color);
  text-align: center;
}

.fourth-section h2 {
  font-size: 2rem;
  color: var(--text-color);
  padding-bottom: 5%;
  font-weight: lighter;
}

.fourth-section h2 span {
  color: var(--primary-color);
  font-weight: bold;
}

.fourth-section .lorems {
  display: flex;
  gap: 20px;
}
.fourth-section .lorem{
    text-align: center;
    max-width: 257px;
    padding-right: 5%;
}
.fourth-section .lorem h3{
  color: white;
  line-height: 26px;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 15px;
  padding-top: 15px;
}
.fourth-section .lorem p{
  color: white;
  line-height: 26px;
  font-weight: normal;
  font-size: 0.8rem;
  text-align: center;
 
  padding-bottom: 50px;
}

.fourth-section button {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--text-color);
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.fourth-section button:hover{
  background-color: var(--blue-color);
}
.fifth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 5%;
}

.fifth-section .faq h2 {
  font-weight: 100;
  font-size: 60px;
  line-height: auto;
  color: rgba(7, 22, 41, 1);
}

.fifth-section .content {
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Exactly two items per row */
  row-gap: 100px; /* Vertical gap between rows */
  column-gap: 220px; /* Horizontal gap between items */
  width: 100%;
  max-width: 920px;
}

.fifth-section .content .faq-item {
  max-width: 350px;
  text-align: left;
}
.fifth-section .content .faq-item h3{
color: rgba(7, 22, 41, 1);
font-weight: bold;
line-height: auto;
font-size: 16px;
padding-bottom: 20px;
}
.fifth-section .content .faq-item p{
  color: rgba(7, 22, 41, 0.5016);
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}
footer {
  background-color: var(--blue-color);
  padding: 4% 5% 0;
  text-align: center;
}

footer div {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 4%;
}

footer div img {
  height: 30px;
  width: 169px;
}

footer div div {
  margin-right: 140px;
  display: flex;
  gap: 20px;
}

footer div div i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 22px;
}


footer p {
  padding-bottom: 30px;
  color: rgba(255, 255, 255, 0.8);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .first-section .container h1 {
    font-size: 2.5rem;
  }

  .first-section .teachers .teachers-details div {
    width: 120px;
    height: 200px;
  }

  .third-section .tutorials .item {
    max-width: 100%;
  }
  .fourth-section .lorems .lorem {
    max-width: 100%;
  }
  .fifth-section .content {
    grid-template-columns: 1fr; /* One item per row on tablets */
    row-gap: 60px;
    column-gap: 0;
  }
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
    gap: 5px;
  }

  .first-section .container h1 {
    font-size: 2rem;
  }

  .second-section .content {
    flex-direction: column;
  }
  .fourth-section .lorems {
    flex-direction: column;
  }
  .fifth-section {
    padding: 50px 5%;
  }

  .fifth-section .faq h2 {
    font-size: 40px;
  }

  .fifth-section .content .faq-item h3 {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .fifth-section .content .faq-item p {
    font-size: 12px;
    line-height: 20px;
  }
}
